[build]
  publish = "dist"
  command = "npm run build"

[build.environment]
  NETLIFY = "true"

# SPA redirect rule
[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

# Enable Netlify Identity for CMS
[template]
  incoming-hooks = ["netlify-identity-signup"]